{% extends "form_base.html" %}

{% block title %}Reset password{% endblock %}

{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% if form %}
<form action="{{ action }}" method="post">
    {% csrf_token %}
    {% for field in form %}
    <div class="flex flex-col mb-6">
        <label class="mb-1 text-xs sm:text-sm tracking-wide text-gray-600" htmlFor="{{ field.auto_id }}">
            {{ field.label }}
        </label>
        <div class="relative flex w-full flex-wrap items-stretch mb-3">
            {% if field.field.widget.attrs.icon %}
            <span class="z-10 h-full leading-snug font-normal absolute text-center text-slate-300 absolute bg-transparent rounded text-base items-center justify-center w-8 pl-3 py-3">
              <i class="fas {{ field.field.widget.attrs.icon }}"></i>
            </span>
            {% endif %}
            {% if field.errors %}
            <ul class="text-red-500 text-xs italic">
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <input id="{{ field.auto_id }}"
                   type="{{ field.field.widget.input_type }}"
                   name="{{ field.name }}"
                   value="{{ field.value }}"
            {% for key, values in field.field.widget.attrs.items %}
                {{ key }}="{{ field.field.widget.attrs.placeholder }}"
            {% endfor %}
            class="
            px-3 py-3 placeholder-slate-300 text-slate-600 relative bg-white bg-white rounded text-sm border-0 shadow outline-lg focus:ring w-full pl-10
            "
            />

        </div>
    </div>
    {% endfor %}
    {% if form.non_field_errors %}
    <ul class="text-red-500">
        {% for error in form.non_field_errors %}
            <li>{{ error }}</li>
        {% endfor %}
    </ul>
    <br>
    {% endif %}

    <div class="flex w-full">
        <button
                type="submit"
                name="submit"
                value="Login"
                class="flex items-center justify-center focus:outline-none text-white text-sm sm:text-base bg-blue-600 hover:bg-blue-700 rounded-lg py-2 w-full transition duration-150 ease-in"
        >
            <span class="mr-2 uppercase">Reset password</span>
        </button>
    </div>
</form>
{% endif %}
{% endblock %}