{% extends "_base.html" %}

{% block title %}{{ gettext("User Portal") }}{% endblock %}
{% block nav_home %}active{% endblock %}

{% block content %}
    <h1 class="text-4xl">Welcome to the User portal</h1>
    <br>
    <p class="text-2xl">Here's a list of things you can do:</p>
    <br>
    <ul class="list-disc">
        <li>Change your personal information (name, phone number, gender etc)</li>
        <li>Change your security settings (password, security questions etc)</li>
    </ul>

{% endblock %}
