{% extends "_base.html" %}
{% load i18n %}

{% block title %}{% trans "User Portal" %}{% endblock %}
{% block nav_home %}active{% endblock %}

{% block content %}
  {% url 'mfa-setup' tenant_id=tenant.id as setup_url %}
  {% url 'secret' as secret_url %}
  <ol>
    <li>{% blocktrans trimmed %}<a href="{{ setup_url }}" class="underline"><b>Enable</b></a> two-factor
      authentication.{% endblocktrans %}</li>
    <li>{% blocktrans trimmed %}At last, you've gained access to the
      <a href="{{ secret_url }}">secret page</a>! :-){% endblocktrans %}</li>
  </ol>
{% endblock %}
